a.out
emmsl
f2.exe
m.exe
magic.exe
filosofos2.cpp
filosofosBuzon.exe
filosofosProfe.exe
filosofosSemaforo.exe
filosofosPropio.exe
filosofosSHM.exe
magic.cpp
makeWaterBuzon.exe
filos.exe
makeWaterSHM.exe
mw.exe
Filosofos.exe
Filosofos2.cpp